# Social Network Analysis Project - 9/11 Hijackers Dataset

#Preprocessing of the dataset

## Reading the two datasets

We import the two UCINET 9/11 HIJACKERS datasets. One is a 1-mode matrix 61x61 of associates and the other represents which attribute each individual has (Network Strength, Ties and Las Vegas Meeting).

In [ ]:
import pandas as pd
import numpy as np

pd.set_option('display.max_rows', None)
df = pd.read_csv('/content/drive/MyDrive/Università Bolo/9_11_HIJACKERS_ASSOCIATES.csv', index_col=0)
df_attr = pd.read_csv('/content/drive/MyDrive/Università Bolo/9_11_HIJACKERS_ATTR.csv', index_col=0)

## Combining the two datasets

We merge the second dataset (containing the attributes of each individual) to the first one. To do so we add each of the three columns of the second one at the end of the first dataset.

In [ ]:
df.insert(len(df), "Las Vegas Meeting", df_attr["Las Vegas Meeting"])

In [ ]:
df.insert(len(df), "Ties", df_attr["Ties"])

In [ ]:
df.insert(len(df), "Network Strength", df_attr["Network Strength"])

## Cleaning the dataset

Since we found that Tarek Maroufi appears twice in both the rows and the columns of the dataset, we decided to drop the second occurence of it.

In [ ]:
# Dropping one of the two duplicate columns for Tarek Maroufi

df.drop(df.columns[[56]], axis=1, inplace=True)

In [ ]:
# Dropping one of the two duplicate rows for Tarek Maroufi

df.drop(df.index[[56]], inplace=True)

In [ ]:
df.to_csv('/content/drive/MyDrive/Università Bolo/9_11_HIJACKERS_COMPLETE.csv', index=True)